<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1 style="color: white;">DashBoard</h1>
        </div>
        <ul>
            <li><img src="../static/assets/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </li>
            <li><img src="../static/assets/reading-book (1).png" alt="">&nbsp;<span>Students</span> </li>
            <li><img src="../static/assets/help-web-button.png" alt="">&nbsp; <span>Help</span></li>
            <li><img src="../static/assets/settings.png" alt="">&nbsp;<span>Settings</span> </li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">

                <div class="user">
                    <img src="../static/assets/notifications.png" alt="">
                    <div class="img-case">
                        <img src="../static/assets/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>{{useri.py}}</h1>
                        <h3>Python</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.os}}</h1>
                        <h3>OS</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.dbms}}</h1>
                        <h3>DBMS</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.cn}}</h1>
                        <h3>Computer <br>
                            <h3>Network</h3></h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/income.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Recent Payments</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>School</th>
                            <th>Amount</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>John Doe</td>
                            <td>St. James College</td>
                            <td>$120</td>
                            <td><a href="#" class="btn">View</a></td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>New Students</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Profile</th>
                            <th>Name</th>
                            <th>option</th>
                        </tr>
                        <tr>
                            <td><img src="../static/assets/user.png" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img src="../static/assets/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="../static/assets/user.png" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img src="../static/assets/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="../static/assets/user.png" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img src="../static/assets/info.png" alt=""></td>
                        </tr>
                        <tr>
                            <td><img src="../static/assets/user.png" alt=""></td>
                            <td>John Steve Doe</td>
                            <td><img src="../static/assets/info.png" alt=""></td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>