<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/dashboard.css">
    <title>Admin Panel</title>
</head>

<body>
    <div class="side-menu">
        <div class="brand-name">
            <h1>DashBoard</h1>
        </div>
        <ul>
            <li><img src="../static/assets/dashboard (2).png" alt="">&nbsp; <span>Dashboard</span> </li>
            <li><img src="../static/assets/reading-book (1).png" alt="">&nbsp;<span>Students</span> </li>
            <li><img src="../static/assets/help-web-button.png" alt="">&nbsp; <span>Help</span></li>
            <li><img src="../static/assets/settings.png" alt="">&nbsp;<span>Settings</span> </li>
        </ul>
    </div>
    <div class="container">
        <div class="header">
            <div class="nav">

                <div class="user">
                    <img src="../static/assets/notifications.png" alt="">
                    <div class="img-case">
                        <img src="../static/assets/user.png" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="content">
            <div class="cards">
                <div class="card">
                    <div class="box">
                        <h1>{{useri.py}}</h1>
                        <h3>Python</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/students.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.os}}</h1>
                        <h3>OS</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/teachers.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.dbms}}</h1>
                        <h3>DBMS</h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/schools.png" alt="">
                    </div>
                </div>
                <div class="card">
                    <div class="box">
                        <h1>{{useri.cn}}</h1>
                        <h3>Computer <br>
                            <h3>Network</h3></h3>
                    </div>
                    <div class="icon-case">
                        <img src="../static/assets/income.png" alt="">
                    </div>
                </div>
            </div>
            <div class="content-2">
                <div class="recent-payments">
                    <div class="title">
                        <h2>Suggested Courses</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <tr>
                            <th>Source</th>
                            <th>Course</th>
                            <th>Option</th>
                        </tr>
                        <tr>
                            <td>Coursera</td>
                            <td>Learn Database Systems</td>
                            <td><a href="https://www.coursera.org/specializations/database-systems" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Coursera</td>
                            <td>Learn NoSQL</td>
                            <td><a href="https://www.coursera.org/specializations/learn-sql-basics-data-science" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Udemy</td>
                            <td>Database Management System</td>
                            <td><a href="https://www.udemy.com/course/database-course/" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>Udemy</td>
                            <td>Intrioduction to Oracle</td>
                            <td><a href="https://www.udemy.com/course/computer-networks-for-beginners-it-networking-fundamentals/" class="btn">View</a></td>
                        </tr>
                        <tr>
                            <td>NPTEL</td>
                            <td>Database Management System</td>
                            <td><a href="https://onlinecourses.nptel.ac.in/noc22_cs19/preview" class="btn">View</a></td>
                        </tr>
                    </table>
                </div>
                <div class="new-students">
                    <div class="title">
                        <h2>Recommended Videos</h2>
                        <a href="#" class="btn">View All</a>
                    </div>
                    <table>
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/f1oV46r69YM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                       
                        <iframe width="560" height="315" src="https://www.youtube.com/embed/6Iu45VZGQDk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>

</html>